*{margin:0;
	padding: 0;
}
html{
	scroll-behavior: smooth;
	font-family: 'DM Serif Text', serif;
}
body{
	background-color: #dbaa21;
	
}
#wrapper{
	width: 80%;
	margin-left:auto;
	margin-right: auto;
	padding: 15px; 
	background-color: black;
	height:auto;
}
header{
	position: sticky;
	top:0;
	left: 0;
	display: block;
}
.nav{
	background-color: #000;

}
.barra{display: flex;
	justify-content: space-around;
	background-color: #000;
}
.home{
    font-family: 'Mr Dafoe', cursive;
	text-decoration: none;
	color: gold;
	font-size: 35px;
	list-style: none;
	transition: 1s;	
	transition-property: color; 
	font-style: italic;

}
.home:hover{
	color:white;
}
.section{
	text-decoration: none;
	list-style: none;
	color: #fff;
	font-size: 25px;
	font-style: italic;
	transition: 1s;	
	transition-property:color; 
}
.section:hover{
	color: gold; 		
	
}
.li{
	text-decoration: none;
	list-style: none;
}
.contenedor{
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	margin-top: 6%; 
}
.Datos{
	width: 40%;

}
.img1{
	width: 40%;
	border: solid;
	border-radius: 65px;
}
.name{
	color: gold;
	font-size: 30px;
}
.info1{
	color: white;
	padding-top: 12%;
	font-size:20px;
}

.detalle{
	margin-top: 6%;
}
.contenedor3{ width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.Bio{display: flex;
	justify-content: center;
	color:gold;
	font-size: 30px;
	margin-bottom: 3.5%

}
.info2{ color: white; 
	display: flex;
	flex-direction: column;
	
}
.info3{display: flex;
	flex-direction: column;
	justify-content:center;
	color: white;
	font-size: 28px;
}
.p{
	margin-bottom: 5%;
	font-size: 18px;
}
h4{text-align: center;
	color: gold;
	margin-bottom: 2.5%;
}
.pe{color: gold;
	display: flex;
	justify-content:center;
	margin-top: 2.5%;
	margin-bottom: 2.5%;
	font-size: 23px;
	font-style: italic; 
}
.pex{
	color: gold;
	margin-bottom: 2.5%;
	font-size: 20px;
	font-style: italic; 
}
.imagen{display: flex;
	justify-content: center;
	width: 25%;

}
.img2{
	display: flex;
	justify-content:center;
	margin-top: 6%;
	margin-bottom: 6%;
}
.Edu{
	margin-top: 2.5%;
	margin-bottom: 2.5%;
	color: gold;
}
.NYU{
	display: flex;
	margin-top: 1.8%;
}
.img3{
	width: 100%;	
}
.Film{display: flex;
	justify-content:center; 
}
.contenedor4{ 
	display: flex;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
}
.img4{width: 12%;
	margin: 1.5%;
	transition: 1s;
}
.img4:hover{
	transform:scale(1.2,1.2);
}
.contenedor5{display: flex;
	justify-content: space-around;
	flex-direction: row;
	margin-top: 6%;
}
.contenedor6{display: flex;
	justify-content: space-around;
	flex-direction: row;
	margin-top: 6%;
}
.img5{
	display: flex;
	align-items: center;
	margin-bottom: 9%;
	flex-direction: column;
}
@media screen and (min-width: 600px) and (max-width: 959px){ 
.contenedor6{ flex-wrap: wrap; align-items: center; flex-direction: column;}
.barra{ font-size:18px; align-items: center; flex-direction: column; }
.info1{width: 96%}
.info3{width: 96%}
.contenedor {flex-wrap: wrap;align-items: center; flex-direction: column;}
.contenedor5 {flex-wrap: wrap;align-items: center; flex-direction: column;}
.contenedor3 {flex-wrap: wrap;align-items: center; flex-direction: column;}
.img5{ width: 50%;}
.img2{ width: 100%;}
.img3{ width: 100%;}
.img4{ width: 38%;}
.contenedor4{ flex-wrap: wrap; align-items: center; }
#wrapper{height: auto; }
}

@media screen and (min-width: 0px) and (max-width: 599px){ 
.contenedor6{ flex-wrap: wrap; align-items: center; }
.barra{ font-size:18px; align-items: center; flex-direction: column;}
.info1{width: 96%}
.contenedor {flex-wrap: wrap;align-items: center; flex-direction: column;}
.contenedor5 {flex-wrap: wrap;align-items: center; flex-direction: column;}
.contenedor3 {flex-wrap: wrap;align-items: center; flex-direction: column;}
.img5{ width: 45%;}
.img2{ width: 100%;}
.img3{ width: 100%;}
.img4{ width: 30%;}
.contenedor4{ flex-wrap: wrap; align-items: center; flex-direction: column;}
#wrapper{width: 100%;  }
}